<!DOCTYPE html>
<html lang="en" ng-app="plunker">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://code.angularjs.org/1.5.4/angular.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.1/jsoneditor.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
  <style>
    html, body{	height:100% }
  </style>
</head>
<body ng-controller="MainCtrl">
  <div class="row" style="height:100%">
    <div dynamic="obj" class="col-md-6"></div>
    <div class="col-md-6" style="height:100%">
        <div ng-jsoneditor="onLoad" ng-model="obj" options="options" class="col-md-12" style="height:100%"></div>
        <button class="btn" ng-click="changeOptions()">Change View</button>
    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.1/jsoneditor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.1/jsoneditor.min.js"></script>

  <script src="./ngJsonHtml.js" type="text/javascript"></script>
  <script>
    var app = angular.module('plunker', ['ng-json-html', 'ng.jsoneditor']);

    app.controller('MainCtrl', function($scope) {
        $scope.name = 'World';
        $scope.options = {mode: 'tree'};
        $scope.obj = { 
          "header": {
          "nav|.[navbar navbar-expand-md navbar-dark bg-dark]": {
              "a|@[#]|.[navbar-brand]": "Brand",
              "button|.[navbar-toggler]|data-toggle=collapse|data-target=#navbarCollapse|type=button": {
                "span|.[navbar-toggler-icon]": ""
              },
              "div|.[collapse navbar-collapse]|#[navbarCollapse]":{
                "ul|.[navbar-nav]": [
                  {"li|.[nav-item]|ng-repeat='val in arr'": {"a|.[nav-link]": "{{ val.name }}"}  }
                ]
              }
            }
          },
          "main|.[container]": {
            "h1|.[mt-5]": "Sticky footer with fixed navbar",
            "p|.[lead]": "description text bla bla bla",
            "p|#[1]": {
              "a|@[#]": "Sticky footer link"
            }
          },
          "footer|.[footer]": {
            "div|.[container]": {
              "span|.[text-muted]": "Place sticky footer"
            }
          }
        };
        
        $scope.arr = [
            {"id": 1, "name": "Ulisses"},
            {"id": 2, "name": "Marcos"},
            {"id": 3, "name": "Alexandre"},
        ];
        $scope.changeOptions = function () {
                  $scope.options.mode = $scope.options.mode == 'tree' ? 'code' : 'tree';
        };
    });

  </script>
</body>
</html>
